.email{
    text-align: center;
    width: 300px;
    animation: mymove 5s infinite;
    border: 5px;
}
body{
    background-color: rgb(192, 188, 182);
h3{
    text-align: center;
    font-style: inherit;
    color: rgb(246, 91, 67);
}
h1{
    text-align: center;
}

}